*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    color:#555;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/logoimg.jpg');
    height:100vh;
    background-size: cover;
    background-position: center;
}
.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
h1{
    margin-top:0px;
    margin-bottom: 20px;
    padding:0;
    color:#fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.btn:link, .btn:visited{
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    
}
.btn-full:link, .btn-full:visited{
    background-color: #e67e22;
    color:#fff;
    border:1px solid #e67e22;
    margin-right:25px;
    transition: all 0.2s;
}
.btn-ghost:link, .btn-ghost:visited{
    border:1px solid #e67e22;
    color:#e67e22;
    background-color: transparent;
    transition: all 0.2s;
}
.btn:hover, .btn:active{
    background-color: #cf6d17;
    
}
.btn-ghost:hover, .btn-ghost:active{
    background-color: #e67e22;
    color:#fff;
}
.btn-full:hover, .btn-full:active{
    border:1px solid #cf6d17;
}
.logo{
    height:100px;
    width:auto;
    float:left;
    margin-top:20px;
    margin-left:50px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.main-nav{
    float:right;
    margin-top:55px;
    margin-right:50px;
    list-style: none;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
    
    
    
}
.main-nav li a:link, .main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding:8px 0;
    transition: border-bottom 0.2s;
    
    
}
.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
.span-1-of-4{
    width:23.8%;
}
/* ROW */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* CLEARFIX */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* COLUMNS */
.col {
    float: left;
}

/* 4 COLUMN LAYOUT */
.span-1-of-4 {
    width: 25%;
}
section{
    padding:80px 0;
}
h2{
    font-weight:300;
    text-transform:uppercase;
    font-size:180%;
    word-spacing: 2px;
    text-align:center;
    margin-bottom:30px;
    letter-spacing: 1px;
}
h2:after{
    content:"";
    display: block;
    height:2px;
    width:100px;
    background-color:#e67e22;
    margin:30px auto 0 auto;
}
.long-copy{
    
    line-height: 145%;
    width:70%;
    margin-left:15%;
    margin-bottom: 30px;
}
.box{
    padding:1%;

}
h3{
    font-weight:300;
    text-transform:uppercase;
    font-size:110%;
    margin-bottom:15px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.icon-big{
    font-size: 350%;
    display:block;
    color:#e67e22;
    margin-bottom:10px;
}
.meal-showcase{
    list-style: none;
    width:100%;

}
.meal-showcase li{
    float:left;
    width:25%;
    
    display:block;
}
.meal-photo{
    width:100%;
    margin:0;
    overflow:hidden;
    background-color: #000;

}
.meal-photo img{
    width:100%;
    height:auto;
    display:block;
    transform:scale(1.15);
    opacity:0.7;
    height:250px;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity:1;
    transition: all 0.5s;
}
.section-meals{
padding:0;

}
.span-1-of-2{
    width:48%;
}
.work-steps{
    margin-bottom:50px;
    margin-right: 25px;
}
.steps-box:first-child{
    text-align:center;
    margin-top:30px;
    padding-right:3%;

}
.app-screen{
    width:50%;
    /* box-shadow: 10px 10px 5px #aaaaaaaa; */
}
.work-steps div{
    text-align: center;
    color:#e67e22;
    border:4px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height:55px;
    width:55px;
    margin-right: 25px;
    padding: 5px;
    font-size: 150%;
    float:left;
}
.work-steps:last-of-type{
    margin-bottom:80px;

}
.btn-app img{
    height:50px;
    width:auto;
    margin-right: 10px;
}
.section-steps{
    background-color: #f4f4f4;
}
.clearfix{zoom:1}
.clearfix::after{
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.city{
    height:250px;
    width:100%;
}
.city-feature{
    margin-bottom: 5px;

}
.icon-small{
    display:inline-block;
    font-size: 120%;
    width:30px;
    color:#e67e22;
    text-align:center;
    line-height: 145%;
    vertical-align: middle;
    margin-right: 10px;
    margin-top:-5px;
}
a:link, a:visited{
    color:#e67e22;
    text-decoration: none;
    border-bottom:2px solid #e67e22;
    padding:1px;

}
a:hover, a:active{
    border-bottom: 1px solid transparent;
    color:#555;
    transition: all 0.2s;
}
.span-1-of-3{
    width:30.33%;

}
.customer{
    width:75px;
    height:75px;
    border-radius: 50%;
    
    margin-right:20px;
    
}

.section-testimonial{
    background-color: #f9f9f9;
    margin-bottom: 100px;
}
cite{
    display:flex;
    align-items: center;
    margin-top:25px;
}
blockquote{
    margin-right: 20px;
}
.plan-box{
    background-color:#f4f4f4;
    border-radius: 5px;
    width:90%;
    margin-left: 5%;
    margin-bottom: 15px;
    
}
.plan-box div{
    border-bottom:#e8e8e8;
    padding:20px;



}
.plan-price{
    font-size: 230%;
    font-weight: 300;
    margin-bottom: 5px;
    color:#e67e22;
}
.plan-price-meal{
    font-size: 90%;
    color:#777;
}
.plan-box ul{
    list-style: none;
    padding:20px;
}
.plan-box ul li{
    margin-bottom: 10px;
    font-size: 90%;
}
ion-icon{
    color:#e67e22;
    margin-right: 10px;
}
.span-1-of-2{
    width:50%;
}
.span-1-of-3{
    width:33.33%;
}
.contact-form div{
    margin:15px;

}
#news{
    height:20px;
    width:20px;
}
#send-me{
    width:150px;
    height:30px;
    border: 1px solid #e67e22 ;
    border-radius:  30px ;
}
#line{
    height:auto;
    width:350px;
}
footer{
    background-color: #333;
    font-size:80%;
    padding:50px;

}
.footer-nav{
    list-style:none;
    float:left;

}
.social-links{
    list-style:none;
    float:right;

}
.footer-nav li,
.social-links li{
    display:inline-block;
    margin-right:20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
      text-decoration:none;
      border:0;
      color:#888;

}
.footer-nav li a:hover,
.footer-nav li a:hover{
    color:#ddd;

}
footer p{
    color:#888;
    text-align: center;
    font-size:90%;
    margin-top:20px;

}
.fb:hover{
    color:#3b5998;

}
.go:hover{
    color:#dd4b39;
}
.tw:hover{
    color:#00aced;

}
.ins:hover{
    color:#517fa4
}
.social-links li a:link,
.social-links li a:visited{
    font-size:160%;
}


